@model count.less.solutions.Models.ViewModels.IndexViewModel

<div class="row">
	<div class="rcorners2 col-xs-12 col-md-4 text-center">
		<h1>current count:</h1>
		<h1 id='counter'>@Model.Counter.Count</h1>
		<div>
			<button class="btn btn-lg btn-danger" id="minusButton" name="minusButton">-</button>
			<button class="btn btn-lg btn-success" id="addButton" name="addButton">+</button>
		</div>
	</div>
</div>
<script>
    $('#addButton').click(function () {
        console.log("add 1...");

	    var counter = @Html.Raw(Json.Encode(Model.Counter)); //Convert Model to JSON 
        $.ajax({
            type: 'POST',
            url: '/Home/add',
            data: JSON.stringify(counter),
            contentType: "application/json",
            success: function(result) {
                console.log('yeah');
                $('#counter').text(result.Count);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });

    $('#minusButton').click(function () {
        console.log("remove 1...");

        var counter = @Html.Raw(Json.Encode(Model.Counter)); //Convert Model to JSON 
        $.ajax({
            type: 'POST',
            url: '/Home/minus',
            data: JSON.stringify(counter),
            contentType: "application/json",
            success: function(result) {
                console.log('yeah');
                $('#counter').text(result.Count);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });
</script>
