@model count.less.solutions.Models.ViewModels.IndexViewModel
<div>
	<h2>current count:</h2>
</div>
<div id='counter'>@Model.Counter.Count</div>
<div>
	<button id="addButton" name="addButton">+</button>
	<button id="resetButton" name="resetButton">Reset</button>
</div>

<script>
    $('#addButton').click(function () {
        console.log("add 1...");

	    var counter = @Html.Raw(Json.Encode(Model.Counter)); //Convert Model to JSON 
        $.ajax({
            type: 'POST',
            url: '/Home/add',
            data: JSON.stringify(counter),
            contentType: "application/json",
            success: function(result) {
                console.log('yeah');
                $('#counter').text(result.Count);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    });

	$('#resetButton').click(function () {
        console.log("reset");
	});
</script>
